.container {
  //border-radius: 2%;
  width: 350px;
  height: 250px;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 29px -19px rgba(0,0,0,0.75);
  padding: 15px 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.onBtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.title {
  font-size: 15px;
  font-weight: bold;
}
.data {
  font-size: 15px;
}
.name {
  font-size: 30px;
  font-weight: bold;
}
.spinnerContainer {
  @extend .container;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
}
